@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .outer-container {
    @apply lg:container w-full mx-auto;
    @media (min-width: 0) and (max-width: 768px) {
      padding-left: 16px;
      padding-right: 16px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    margin: auto;
  }

  .inner-container-spacing {
    @apply sm:px-8 lg:px-10 xl:px-14;
  }

  /*MISC*/
  .-z-1 {
    z-index: -1;
  }
  @layer utilities {
    .h-inherit {
      height: inherit;
    }
    .h-max {
      height: max-content;
    }
  }
}
